# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

GUARDIAN_MONGO_HOST=tgBots_user:kY1c2BeZryv8ynqo6R4z@95.183.11.158:27017
GUARDIAN_MONGO_DB=guardian_graphql_PROD

ALISA1READ_DB_HOST=95.183.11.158
ALISA1READ_DB_USER=tgBots_alisa1_read_user
ALISA1READ_DB_PORT=3306
ALISA1READ_DB_PASSWORD=4JaVBL085ETGugy6BmMR
ALISA1READ_DB_DATABASE_NAME=alisa1_prod

BOT_TOKEN=6383421515:AAFj6EG_ZbkokLT3EKOyRVbubdF__C1BTLw
DATABASE_URL="mysql://johnnykoshev:admin@localhost:3306/commander_bot_db"
